# Normalize line endings to LF.
* text eol=lf

# Ensure that line endings for multipart files in spring-web are not modified.
*.multipart -text

# Ensure that line endings for DOS batch files are not modified.
*.bat -text

# Ensure the following are treated as binary.
*.gif   binary
*.jar   binary
*.jpeg  binary
*.jpg   binary
*.png   binary
*.vsd   binary
*.pdf   binary
*.tiff  binary
*.webp  binary
*.svg   binary
*.bmp   binary
*.ico   binary
*.7z    binary
*.gz    binary
*.tar   binary
*.xz    binary
*.zip   binary
*.pdf   binary
*.doc   binary
*.docx  binary
*.xls   binary
*.xlsx  binary